main .map {
  width: 90%;
  margin: 1rem auto;
}

main section.Information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main section.Information section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.Information section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

main section.Information section.cards div.card div.image_container {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: orange;
  overflow: hidden;
}

main section.Information section.cards div.card div.image_container img {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

main section.Information section.cards div.card div.image_container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section.Information section.cards div.card h3 {
  margin: 1rem 0rem;
}

main section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
}

main section.contact div.formAll {
  width: 80%;
  background-color: #ddd;
  border: 1px solid #ccc;
}

main section.contact div.formAll div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.contact div.formAll div.title h2 {
  color: orange;
  font-weight: bolder;
}

main section.contact div.formAll div.title h2::before {
  content: url(/Icons/email.png);
  padding-right: 1rem;
}

main section.contact div.formAll div.title p {
  padding-left: 1rem;
}

main section.contact div.formAll div.title p img {
  vertical-align: baseline;
}

main section.contact div.formAll form {
  text-align: center;
}

main section.contact div.formAll form h3 {
  width: 90%;
  margin: 5px auto;
  text-align: left;
}

main section.contact div.formAll form h3 img {
  padding-right: 1rem;
}

main section.contact div.formAll form input {
  width: 90%;
  height: 30px;
  margin: 5px auto;
}

main section.contact div.formAll form div.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.contact div.formAll form div.btn input {
  font-size: 20px;
  border-radius: 10%;
  width: 30%;
  height: 50px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 10px 0px #ccc;
          box-shadow: 0px 0px 10px 0px #ccc;
  cursor: pointer;
}

main section.contact div.formAll form div.btn input:nth-child(1) {
  margin-right: 1rem;
}

@media screen and (max-width: 700px) {
  main section.contact div.formAll div.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=connection_style.css.map */