main section.backImage2 {
  min-height: 90vh;
  width: 100%;
  background-image: url("../Pictures/PDOIP7.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.backImage2 section.login {
  width: 600px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 60px #f2a69e;
          box-shadow: 0 0 60px #f2a69e;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.backImage2 section.login form {
  width: 400px;
  color: #fff;
}

main section.backImage2 section.login form h2 {
  margin-bottom: 20px;
  border-bottom: 3px dotted #f2a69e;
  padding-bottom: 20px;
}

main section.backImage2 section.login form .group {
  margin-bottom: 20px;
}

main section.backImage2 section.login form .group input {
  width: 100%;
  border: 1px solid #f2a69e;
  line-height: 3;
  border-radius: 5px;
}

main section.backImage2 section.login form .group label {
  line-height: 2;
}

main section.backImage2 section.login form .remind {
  font-size: 0;
  text-align: right;
}

main section.backImage2 section.login form .remind a {
  font-size: 16px;
  color: #fff;
}

main section.backImage2 section.login form .remind a + a {
  margin-left: 20px;
}

main section.backImage2 section.login form .btn-group {
  font-size: 0;
  margin-top: 50px;
}

main section.backImage2 section.login form .btn-group .btn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: beige;
  width: 190px;
  padding: 10px 0;
  cursor: pointer;
}

main section.backImage2 section.login form .btn-group .btn + .btn {
  margin-left: 20px;
}

@media screen and (max-width: 550px) {
  main section.backImage2 section.login {
    width: 370px;
    height: 300px;
  }
  main section.backImage2 section.login form {
    width: 300px;
  }
  main section.backImage2 section.login form h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  main section.backImage2 section.login form .group {
    margin-bottom: 10px;
  }
  main section.backImage2 section.login form .group input {
    line-height: 1;
    border-radius: 5px;
  }
  main section.backImage2 section.login form .group label {
    line-height: 1;
  }
  main section.backImage2 section.login form .btn-group {
    font-size: 0;
    margin-top: 20px;
  }
  main section.backImage2 section.login form .btn-group .btn {
    font-size: 16px;
    width: 145px;
    padding: 5px 0;
    cursor: pointer;
  }
  main section.backImage2 section.login form .btn-group .btn + .btn {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=login_style.css.map */